@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --primary-color: #9b87f5;
    --blue: #0ea5e9;
    --cyan: #3dbcc2;
    --primary-gradient: linear-gradient(135deg, var(--primary-color), var(--blue));
    --light-background-gradient: linear-gradient(135deg, rgba(155, 135, 245, 0.2), rgba(14, 165, 233, 0.2));
    --noise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    --color-gray-700: #4b5563;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer base {
    h1 {
        @apply text-5xl leading-tight font-bold text-transparent bg-clip-text bg-gradient-primary;
        -webkit-text-fill-color: transparent;
    }
    h2 {
      @apply text-4xl;
      @apply font-semibold;
    }
}
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .container {
        @apply max-w-[1260px] mx-auto;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
}

main{
    background: var(--light-background-gradient);
}

.bg-gradient-primary {
    background: var(--primary-gradient);
}

/* Text */
.sub-title{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 12px;
}
.bg-clip-text{
    -webkit-background-clip: text;
    background-clip: text;
}

/* Homepage */
button.noisy_button{
    background: var(--primary-gradient);
    position: relative;
    color: #fff;
}
button.noisy_button::before{
    content: "";
    background-color: transparent;
    background-image: var(--noise);
    background-repeat: repeat;
    -webkit-background-size: 182px;
    -moz-background-size: 182px;
    -o-background-size: 182px;
    background-size: 182px;
    opacity: 0.2;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
/* Footer */
.social-link{
    display: block;
    width: 1.5em;
    transition: all .3s ease;
}
.social-link:hover{
    transform: scale(1.1);
}
/* Articles(blogs & projects) */
.article{
    /* Add css for everything */
}